% rebase("osnova_spletnega_vmesnika.html",uporabniskoIme=user)
<h3 class="title is-2">{{ime}}</h3>

<img src = {{url}} alt = "slika" width="150" height="200">

<table is-fullwidth class="table" align = "center" >
			
    <thead>
      <tr>
        <th>Sezona</th>
        <th>Goli</th>
        <th>Klub</th>
        </tr>
    </thead>
    <tbody>
        % for sezona,goli,klub in nasezono:
      <tr>
      
      <td><a href="/sezona/{{sezona}}">{{sezona}}</a></td>
          <td><a href="/sezona/{{sezona}}">{{goli}}</a></td>
          <td><a href="/klub/{{klub}}">{{klub}}</a></td>

      
      % end
	  <tr>
	  <td>Skupno</td>
	  <td>{{skupno[0][0]}}</td>
      </tr>
      </tbody>
  </table>






