% rebase("osnova_spletnega_vmesnika.html",uporabniskoIme=user)

<h3 class="title is-2">{{ime}}</h3>
<img src = {{url}} alt = "slika">

<p>Domači stadion: {{stadion[0][0]}}</p>

<img src = {{url_stadion}} alt = "slika">

<table is-fullwidth class="table" align = "center" >
			
    <thead>
      <tr>
        <th>Sezona</th>
        <th>Goli</th>
        </tr>
    </thead>
    <tbody>
        % for sezona,vsota_golov in goli:
      <tr>
      
      <td><a href="/sezona/{{sezona}}">{{sezona}}</a></td>
          <td><a href="/sezona/{{sezona}}">{{vsota_golov}}</a></td>

      
      % end
	  <tr>
	  <td>Skupno</td>
	  <td>{{vsota}}</td>
      </tr>
      </tbody>
  </table>


