% rebase('osnova_spletnega_vmesnika.html', title='Registracija', uporabniskoIme=user)



<form class="form-signin" method="post">
      <a href="/"></a>
      <h1 class="h3 mb-3 font-weight-normal">Vstavi tekmo</h1>

      <label for="datum" class="sr-only">Datum</label>
      <input type="datum" id="datum" class="form-control" placeholder="Datum" name="Datum" required autofocus>
      <br> 
      <br> 
      <label for="ime_igralca" class="sr-only">Ime kluba1</label>
      <input type="ime_igralca" id="ime_igralca" class="form-control" placeholder="Ime igralca" name="Vstavi_klub1" required autofocus>
      %if Napaka1 is not None:
      {{Napaka1}}
      %end
      <label for="goli1">Goli1:</label>

      <select name="goli1" id="goli1">
            %for i in range(10):
      <option value="{{i}}">{{i}}</option>
      %end


      </select>
      <label for="goli2">Goli2:</label>

      <select name="goli2" id="goli2" onchange = Selection x>
            %for i in range(10):
      <option value="{{i}}">{{i}}</option>
      %end

      </select>


      <label for="ime_kluba" class="sr-only">Ime kluba</label>
      <input type="ime_kluba" id="ime_kluba" class="form-control" placeholder="Ime kluba" name="Vstavi_klub" required autofocus>
      %if Napaka2 is not None:
      {{Napaka2}}
      %end  
      <br> 
      <br> 
      <label for="ime_igralca" class="sr-only">Ime igralca</label>
      <input type="ime_igralca" id="ime_igralca" class="form-control" placeholder="Ime igralca" name="Vstavi_igralca1" required autofocus>


      
      <br> 
      <br> 
      <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj tekmo</button>

</form>


<script>
      document.addEventListener('DOMContentLoaded', function () {
         var input = document.getElementById('job');
         if (localStorage['job']) { // if job is set
             input.value = localStorage['job']; // set the value
         }
         input.onchange = function () {
              localStorage['job'] = this.value; // change localStorage on change
          }
      });
      </script>






