% rebase('osnova_spletnega_vmesnika.html', title='Registracija', uporabniskoIme=user)
%import bottle


<form class="form-signin" method="get" action="/uredi/to/se/more/ujemat3">
      <a href="/"></a>
      <h1 class="h3 mb-3 font-weight-normal">Vstavi tekmo</h1>

      <label for="start">Datum tekme:</label>

      <input type="date" id="start" name="trip-start"
             value="2018-07-22">

      <label for="ime_igralca" class="sr-only">Stadion</label>
      <input type="text" list="stadioni" name="stadion" placeholder="Stadion" required>	
		<datalist id="stadioni">
			%for stadion in vsi_stadioni:
				<option>{{stadion.ime}}</option>
			%end
		</datalist>
            <label for="ime_igralca" class="sr-only">Tip</label>
            <input type="text" list="tipi" name="tipi" placeholder="Tip" required>	
                  <datalist id="tipi">
                        %tipi = ["A","B","C","D","E","F","G","H","OF","CF","PF","FINALE"]
                        %for tip in tipi:
                              <option>{{tip}}</option>
                        %end
                  </datalist>


      <br> 
      <br> 
      <label for="ime_igralca" class="sr-only">Ime kluba1</label>
      <input type="text" list="ime2" name="klub1" placeholder="Klub1" required>	
		<datalist id="ime2">
			%for klub in vsi_klubi:
				<option>{{klub[0]}}</option>
			%end
		</datalist>
      
      <label for="goli1">Goli1:</label>

      <select name="goli1" id="goli1" onchange="getOption1()" >
            %for i in range(10):
      <option value="{{i}}">{{i}}</option>
      %end


      </select>
      <label for="goli2">Goli2:</label>
      <select name="goli2" id="goli2" onchange="getOption2()" class="span4" >
            %for i in range(10):
      <option value="{{i}}">{{i}}</option>
      %end
      %st = bottle.request.query.getunicode('goli2')

      %if st == None:
            asdasd
      %end
      {{st}}
    

      </select>
      <label for="ime_igralca2" class="sr-only">Ime kluba2</label>
      <input type="text" list="klub2" name="klub2" placeholder="Klub2" required>	
		<datalist id="klub2">
			%for klub in vsi_klubi:
				<option>{{klub[0]}}</option>
			%end
		</datalist>

      <br> 
      <br> 
      <table is-fullwidth class="table" align = "center" >
            <thead></thead>
            %for j in range(5):
            <tr>
            <td>    <label for="ime_igralca" class="sr-only">Igalec:</label>
                  <input type="text" list="igralec1" name={{"igralec1" +str(j)}} placeholder="Igralec">	
                        <datalist id="igralec1">
                              %for igralec in vsi_igralci:
                                    <option>{{igralec[0]}}</option>
                              %end
                        </datalist>       </td>
            <td> <label for="minuta" class="sr-only">Minuta:</label>
                  <input type="text" list="minuta" name={{"minuta1" +str(j)}} size="1">	
                        <datalist id="minuta">
                              %for i in range(91):
                                    <option>{{i}}</option>
                              %end
                        </datalist></td>
            <td><label for="ime_igralca" class="sr-only">Igalec:</label>
                  <input type="text" list="igralec1" name={{"igralec2" +str(j)}} placeholder="Igralec">	
                        <datalist id="igralec1">
                              %for igralec in vsi_igralci:
                                    <option>{{igralec[0]}}</option>
                              %end
                        </datalist> </td>
            <td> <label for="minuta" class="sr-only">Minuta:</label>
                  <input type="text" list="minuta" name={{"minuta2" +str(j)}} size="1">	
                        <datalist id="minuta">
                              %for i in range(91):
                                    <option>{{i}}</option>
                              %end
                        </datalist></td>
                  </tr>
            %end


      </table>
      

           


      
      <br> 
      <br> 

      <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj tekmo</button>


</form>
%if Napaka1:
{{Napaka1}}
%end 



   
<p> The value of the option selected is:
      <span class="output2"></span>
  </p>
  <p> The value of the option selected is:
      <span class="output1"></span>
  </p>
  <div id="demo"></div>

   
  <script type="text/javascript">
  function getOption2() {
      selectElement = document.querySelector('#goli2');
      output = selectElement.value;
      return output;
      document.querySelector('.output2').textContent = output;
  }
  </script>
  <script type="text/javascript">
      function getOption1() {
          selectElement = document.querySelector('#goli1');
          output = selectElement.value;
          document.querySelector('.output1').textContent = output;
      }
      </script>








