% rebase("osnova_spletnega_vmesnika.html",uporabniskoIme=user)
			
Pozdravljeni na začetni strani!
<p>Kaj želiš?</p>
<table is-fullwidth class="table" align = "center" >
			
  <thead>
    <tr>
      <th>Sezona</th>
      <th><form action="/to/se/more/ujemat">
			Igralec: <input type="text" list="ime" name="ime">
			<input type="submit" value="Išči">
			
			<datalist id="ime">
			
			%for igralec in vsi_igralci:
				<option>{{igralec[0]}}</option>
			%end
			

		</datalist>
			
		</form>
		</th>
      <th><form action="/to/se/more/ujemat2">
			Klub: <input type="text" list="ime2" name="ime2">
			<input type="submit" value="Išči">
			
		<datalist id="ime2">
			
			%for klub in vsi_klubi:
				<option>{{klub[0]}}</option>
			%end
			

		</datalist>
			
		</form>
		</th>
	  </tr>




  </thead>
  <tbody>
	% for sezona,igralec,klub in zip(sezone,igralci,klubi):
	<tr>
    
    <td><a href="/sezona/{{sezona[0]}}">{{sezona[0]}}</a></td>
		<td><a href="/{{igralec[0]}}">{{igralec[0]}}</a></td>
    <td><a href="/klub/{{klub[0]}}">{{klub[0]}}</a></td>
    
    % end
	</tr>
	</tbody>
</table>
